SLIMJobRegForm/SLIMJobRegForm/ConfigurationSectionDesigner1.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:SLIMJobRegFormConfig" elementFormDefault="qualified" targetNamespace="urn:SLIMJobRegFormConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="labcodes" type="tns:SLIMJobRegFormConfig.LabcodesCT" />
	<xs:complexType name="SLIMJobRegFormConfig.LabcodesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="labcode" type="tns:SLIMJobRegFormConfig.LabcodeCT">
				<xs:annotation>
					<xs:documentation>The Labcode.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SLIMJobRegFormConfig.LabcodeCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="general" type="tns:SLIMJobRegFormConfig.GeneralCT">
				<xs:annotation>
					<xs:documentation>The General.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="sample" type="tns:SLIMJobRegFormConfig.SampleCT">
				<xs:annotation>
					<xs:documentation>The Sample.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The description.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="active" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The active.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SLIMJobRegFormConfig.GeneralCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="register" type="tns:SLIMJobRegFormConfig.RegisterCT">
				<xs:annotation>
					<xs:documentation>The Register.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="tRF" type="tns:SLIMJobRegFormConfig.TRFCT">
				<xs:annotation>
					<xs:documentation>The TRF.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="webService" type="tns:SLIMJobRegFormConfig.WebServiceCT">
				<xs:annotation>
					<xs:documentation>The WebService.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SLIMJobRegFormConfig.RegisterCT">
		<xs:attribute name="path" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SLIMJobRegFormConfig.TRFCT">
		<xs:attribute name="path" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SLIMJobRegFormConfig.WebServiceCT">
		<xs:attribute name="url" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SLIMJobRegFormConfig.SampleCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="clientDesc" type="tns:SLIMJobRegFormConfig.ClientDescCT">
				<xs:annotation>
					<xs:documentation>The ClientDesc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SLIMJobRegFormConfig.ClientDescCT">
		<xs:attribute name="characterDigit" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The CharacterDigit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberDigit" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The NumberDigit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
